header, footer {
    background-color: indianred;
    color:white;
}
body {
    background-color: lightblue;
}
.border {
    border: thick solid blue;
}
#past-experiences {
    border: thin solid orange;
}
